.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;

}

.footer {
  clear: both;
  width: 100%;
  min-height: 10vh;
  background-color: black;
  color: white;
  text-align: center;

}