.app {
  max-width: 100vw;
}

.float-child {
  width: 40vw;
  margin: 1vw;
  float: left;

}



.footer {
  clear: both;
  width: 100%;
  min-height: 10vh;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 10vh;

}